from core.providers.infra.template.zerotheme import ZeroTheme

class {{class}}Provider(ZeroTheme):
    name = '{{ name }}'
    lang = '{{lang}}'
    domain = ['{{domain}}']

    def __init__(self):
        super().__init__()
        self.base_url = '{{link}}'
        self.source_path = '{{link}}'
        
        # Configurações específicas do site (podem ser sobrescritas)
        self.manga_sub_string = 'comics'  # Padrão para URLs de mangás
        self.chapter_sub_string = 'chapters'  # Padrão para URLs de capítulos
        
        # Timeout personalizado (opcional)
        self.timeout = 30
        
        # Headers específicos do site (se necessário)
        self.headers.update({
            'Referer': '{{link}}',
            # Adicione outros headers específicos se necessário
        })
    
    # Métodos podem ser sobrescritos se necessário para customizações específicas
    # 
    # def getManga(self, link: str) -> Manga:
    #     # Implementação customizada se necessário
    #     return super().getManga(link)
    #
    # def getChapters(self, id: str) -> List[Chapter]:
    #     # Implementação customizada se necessário
    #     return super().getChapters(id)
    #
    # def getPages(self, chapter: Chapter) -> Pages:
    #     # Implementação customizada se necessário
    #     return super().getPages(chapter)